<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if user.is_authenticated %}

logged in as {{ user.username }}
    <a href="{% url 'createtodo' %}">Create</a>
    <a href="{% url 'currenttodos' %}">Current</a>
    <a href="{% url 'completedtodos' %}">Compete</a>

<form action="{% url 'logoutuser' %}" method="POST">
    {% csrf_token %}
    <button type="submit">logout</button>
</form>

{% else %}
<a href="{% url 'signupuser' %}">Sign up</a>
<a href="{% url 'loginuser' %}">login</a>

{% endif %}
<br>
<br>

{% block content %}{% endblock %}
</body>
</html>